In [45]:
import pandas as pd
import numpy as np

In [46]:
titleakas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
titlebasics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [47]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [48]:
ratings.replace({'\\N': np.nan})

            tconst  averageRating  numVotes
0        tt0000001            5.7      1901
1        tt0000002            5.9       254
2        tt0000003            6.5      1694
3        tt0000004            5.7       166
4        tt0000005            6.2      2511
...            ...            ...       ...
1254581  tt9916690            6.5         6
1254582  tt9916720            5.2       237
1254583  tt9916730            8.4         6
1254584  tt9916766            6.8        21
1254585  tt9916778            7.2        35

[1254586 rows x 3 columns]

In [49]:
instructionsForRatings='Replace "/N" with np.nan (if any)'
ratings.to_csv('Data/ratings.csv')

In [50]:
title = pd.read_csv(titlebasics_url, sep="\t", low_memory=False)

In [51]:
title.replace({'\\N': np.nan})

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9101802,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9101803,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9101804,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9101805,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9101806,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [52]:
instructionsfortitle= '''
Replace '/N' with np.nan  
Eliminate movies that are null for runtimeMinutes 
Eliminate movies that are null for genre 
keep only titleType==Movie 
keep startYear 2000-2022 
Eliminate movies that include 'Documentary' in genre (see tip below)"
'''
title = title.dropna(subset=['genres'])
isDocumentary = title['genres'].str.contains('documentary', case=False)
title = title[~isDocumentary]
titleTypeMovie = title["titleType"]=='Movie'
title = title[titleTypeMovie]
title = title[title['genres'].dropna()]
title.to_csv("Data/title.csv")

In [53]:
alternateTitles = pd.read_csv(titleakas_url, sep='\t', low_memory=False)

ParserError: Error tokenizing data. C error: out of memory

In [ ]:
alternateTitles.replace({'\\N': np.nan})

In [ ]:
#df[(df['B']=='Blue') & (df['C']=='Green')]
alternateTitles = alternateTitles[(alternateTitles['region']=="US")]

In [ ]:
alternateTitles.head()

In [ ]:
alternateTitle.to_csv('Data/alternateTitles.csv')